<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/css/customer_dashboard.css">
    <title>Document</title>
</head>

<body>
    <div class="navbar">
        <!-- <input type="checkbox" name="" value="" id="check">
        <label for="check" class="checkbtn">
            <i class="fas fa-bars"></i>
        </label> -->
        <label class="logo">Car</label>

        <ul>
            <li><a class="dashboard" href="./customer_dashboard.html">Dashboard</a></li>
            <li><a class="contact" href="./contact.html">Contact Us</a></li>
            <li><a class="register" href="./Register.html">Register</a></li>
            <li><a class="cars1" href="./Cars.html">Cars List</a></li>
            <li><a class="cars" href="./BookYourCar.html">Book your car</a></li>
            <li><a class="about" href="./about.html">About</a></li>
            <li><a class="home" href="./index.html">Home</a></li>
        </ul>
    </div>

    <main>
        <div class="container">
            <h2>Dashboard</h2>
        </div>
        <!-- <div class="container1">

            <div class="row">
                <div class="card1">
                    <img src="static/images/car1.jpg">
                    <div class="btn1">
                        <button type="submit" class="bookbtn">Book Now</button>
                    </div>
                
                </div>
                
                <div class="card1">
                    <img src="static/images/car1.jpg">
                    <div class="btn2">
                        <button type="submit" class="bookbtn">Book Now</button>
                    </div>
                </div>
                <div class="card1">
                    <img src="static/images/car1.jpg">
                    <div class="btn3">
                        <button type="submit" class="bookbtn">Book Now</button>
                    </div>
                </div>
                <div class="card1">
                    <img src="static/images/car1.jpg">
                    <div class="btn4">
                        <button type="submit" class="bookbtn">Book Now</button>
                    </div>
                </div>
                <div class="card1">
                    <img src="static/images/car1.jpg">
                    <div class="btn5">
                        <button type="submit" class="bookbtn">Book Now</button>
                    </div>
                </div>
              
            </div>

        </div> -->


<div class="container2">

        <div class="card">
            <img src="static/images/book.jpg" alt="Avatar" style="width:100%">
            <div class="container">
                <a href="./BookYourCar.html" class="textd"><button type="submit" class="bookbtn">Car Book</button></a>
            </div>
        </div>

        <div class="card">
            <img src="static/images/booking1.jpg" alt="Avatar" style="width:100%">
            <div class="container">
                <a href="#" class="textd"><button type="submit" class="bookbtn">My Booking</button></a>
            </div>
        </div>

        <div class="card">
            <img src="static/images/profile.jpg" alt="Avatar" style="width:100%">
            <div class="container">
                <a href="#" class="textd"><button type="submit" class="bookbtn">My Account</button></a>
            </div>
        </div>

        <div class="card">
            <img src="static/images/password.jpg" alt="Avatar" style="width:100%">
            <div class="container">
                <a href="./recover forgot password.html" class="textd"><button type="submit" class="bookbtn">Change Password</button></a>
            </div>
        </div>

        <div class="card">
            <img src="static/images/switch.jpg" alt="Avatar" style="width:100%">
            <div class="container">
                <a href="./login.html" class="textd"><button type="submit" class="bookbtn">Logout</button></a>
            </div>
        </div>

</div>

    </main>

    <footer class="footer">
        <h5>Connect with us</h5>
        <div class="img">
            <img src="static/images/facebook1.jpg" class="imgA">
            <img src="static/images/tweeter1.jpg" class="imgA">
            <img src="static/images/insta1.jpg" class="imgA">
            <img src="static/images/linkedin1.jpg" class="imgA">
            <img src="static/images/youtube1.jpg" class="imgA">
        </div>
        <br>
        <a href="omkardokhale@0493gmai class="textd"l.com" class="ftext">Copyright 2023 | omkardokhale0493@gmail.com</a><br>
    </footer>


</body>

</html>