<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/css/recover forgot password.css">
 
    <title>Reset Forgot Password</title>
</head>
    
    <body>    
        <div>
            <form style="border: 2px solid rgb(21, 20, 20); background-color: rgba(0, 0, 0, 0.5);">
    
                <div class="Heading">
                    <h3 style="color: white; text-align: center;">Reset Forgot Password</h3><br>
                </div>

                <label style="color: white;" style="padding-left:50px;">UserName</label><br>
                <input type="text" id="login" value="" placeholder="Enter your Username"><br><br>

                <label style="color: white;">Email</label><br>
                <input type="email" id="email" value="" placeholder="Enter your email"><br><br>
    
                <label style="color: white;">New Password</label><br>
                <input type="password" id="password" value="" placeholder="Enter your password"><br><br>
    
                <label style="color: white;">Confirm New Password</label><br>
                <input type="password" id="cpassword" value="" placeholder="confirm your password"><br><br>
    
                <div>
                    <button class="btn" type="submit" style="background-color: #007bff; border-color: #007bff;" id="submit">
                        <a href="login.html" id="s" >Submit</a></button>
                    <button class="btn" type="reset" style="background-color: lightgreen;" id="reset">
                        <a href="recover forgot password.html" id="r">Reset</a></button>
                    <button class="btn" type="submit" style="background-color: rgb(255, 238, 0);" id="submit">
                        <a href="index.html" id="f">Go to Home</a></button> 
    
                </div>
            </form>
        </div>
  </body>
</html>